@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}

img {
    margin-top: 2rem;
    width: 10rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(144deg, #3A8EF6 0%, #6F3AFA 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    background: linear-gradient(144deg, #3A8EF6 0%, #6F3AFA 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ingredientes {
    text-align: left;
    margin: 1rem auto;
    max-width: 300px;
    color: black;
    font-size: 1.2rem;
}

.resultado {
    text-align: center;
    max-width: 300px;
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

p {
    font-size: 1rem;
    color: black;
}
